version: '3.8'

services:
  
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - REDIS_HOST=redis 
      - REDIS_PORT=6379
    env_file:
      - .env  
    depends_on:
      - redis 
    restart: always 

 
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    volumes:
      # This saves Redis data to a folder on the computer so it isn't lost on restart
      - redis_data:/data
    restart: always

volumes:
  redis_data: